@model ScheduleApp.Models.WeeklyScheduleViewModel

@{
   ViewData["Title"] = "Details";
}


<div>
   <h1>@Html.DisplayFor(model => model.Schedule.Name)</h1>
   <div class="form-inline mt-n1">
      <h4 class="font-weight-light">Schedule</h4>
      <div class="pl-3">
         <a asp-action="Edit" asp-route-id="@Model.ScheduleId">Edit</a> |
         <a asp-action="Index">Back to List</a>
      </div>
   </div>
   <hr />
</div>
<div>
   @if (Model.EmpWkShifts != null && Model.EmpWkShifts.Count > 0)
   {
      <form asp-controller="Schedule" asp-action="Details" method="get" class="form-inline">
         <p>
            Work Week:
            <select asp-for="SelectedWeekStartDay" asp-items="Model.Weeks" class="custom-select" onchange="$(this).closest('form').submit()"></select>
            @*<input type="submit" value="Choose" class="btn btn-primary" />*@
         </p>
      </form>

      <table class="table table-bordered table-responsive schedule">
         <thead>
            <tr>
               <th class="schedule-name">Employee</th>
               <th class="schedule-day">@Model.SelectedWeekStartDay.ToString("ddd d")</th>
               <th class="schedule-day">@Model.SelectedWeekStartDay.AddDays(1).ToString("ddd d")</th>
               <th class="schedule-day">@Model.SelectedWeekStartDay.AddDays(2).ToString("ddd d")</th>
               <th class="schedule-day">@Model.SelectedWeekStartDay.AddDays(3).ToString("ddd d")</th>
               <th class="schedule-day">@Model.SelectedWeekStartDay.AddDays(4).ToString("ddd d")</th>
               <th class="schedule-day">@Model.SelectedWeekStartDay.AddDays(5).ToString("ddd d")</th>
               <th class="schedule-day">@Model.SelectedWeekStartDay.AddDays(6).ToString("ddd d")</th>
            </tr>
         </thead>
         <tbody>
            @foreach (var employee in Model.EmpWkShifts.OrderBy(x => x.Key.First))
            {
               <tr>
                  <td>
                     <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Key.Id" class="text-dark">
                        @employee.Key.Name
                     </a>
                  </td>
                  @foreach (var date in Model.EmpWkShifts.First().Value.Keys)
                  {
                     <td class="emp-day-cell">
                        <ul class="list-unstyled">
                           @foreach (var shift in Model.EmpWkShifts[employee.Key][date])
                           {
                              <li>
                                 <h6 class="font-weight-light">
                                    @String.Format("{0:t} - {1:t}", shift.Start, shift.End)
                                 </h6>
                                 @if (shift.ShiftRoleId != null)
                                 {
                                    <span class="badge badge-secondary">@shift.ShiftRole.Name</span>
                                 }
                              </li>
                           }
                        </ul>
                        <button class="add-shift-time-button" data-scheduleId="@Model.ScheduleId" data-employeeId="@employee.Key.Id" data-date="@date" style="display: none">
                           Add Shift
                        </button>
                     </td>
                  }
               </tr>
            }
         </tbody>
      </table>
   }
   else
   {
      <p>No shifts scheduled</p>
   }

</div>

<div>
   <!-- Button trigger modal -->
   @*<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#create-shift-time" data-url="@Url.Action("CreateModal", "Shift")">
      Launch demo modal
   </button>*@

   <!-- Modal -->
   <div id="modal-placeholder"></div>

</div>

@section Scripts {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   <script type="text/javascript">
      $(document).ready(function() {
         var placeholderElement = $("#modal-placeholder");
         $(".add-shift-time-button").click(function () {
            $.get("@Url.Action("CreateModal", "Shift")",
               {
                  scheduleId: $(this).data("scheduleid"),
                  employeeId: $(this).data("employeeid"),
                  date: $(this).data("date")
               }).done(function (data) {
               placeholderElement.html(data);
               placeholderElement.find(".modal").modal("show");
            });
         });

         $(".emp-day-cell").hover(
            function () {
               $(this).find(".add-shift-time-button").show();
               var btn = $(".add-shift-time-button", this)
               btn.show();
            },
            function () {
               $(this).children(".add-shift-time-button").hide();
            }
         );

      });
   </script>
}
